body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
  padding: 1em;
  color: grey;
}

div.button-container {
  display: flex;
  justify-content: flex-end;
}

.form-control  {
  border-width: 5px;
}

body main div div form div div small.form-text {
  display: inline-block;
}

.fa-check {
  background-image: url("../img/check-solid.svg");
}

.fa-times {
  background-image: url("../img/times-solid.svg");
}
